# Credentials
*.json
credentials/
*-sa.json

# Terraform sensitive files
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl

# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# OS
.DS_Store
Thumbs.db
